.rowContent {
  overflow: hidden;
}

.subHeading {
  color: #3e8ac6;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.imgContainer {
  overflow: hidden;
  max-width: 900px;
}

@media only screen and (min-width: 1000px) {
  .lowerProductImages {
    top: -150px;
  }
  .upperProductImages {
    top: 150px;
  }
}
