.heroWrapper {
  height: 100vh;
}

.heroContent {
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.heroContentLine1 {
  overflow: hidden;
}

.heroContentLine2 {
  overflow: hidden;
}

.heroContentLine3 {
  overflow: hidden;
}

.waveTitle {
  color: white;
}
