.bgWrapper {
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-position: top;
  background-repeat: repeat-y;
  background-size: cover;
}

.imgFilter {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.heroContent {
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.heroContentLine1 {
  overflow: hidden;
}

.heroContentLine2 {
  overflow: hidden;
}

.heroContentLine3 {
  overflow: hidden;
}

.title {
    color: white;
    margin-bottom: 0.5rem;
    font-size: calc(70px + (150 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.waveTitle {
  color: white;
}
